body {
	background-color: black;
	color: black;
}

#tabla {
	background-color: rgb(255, 188, 107);

	margin: auto;
	text-align: center;
}

.dia {
	text-align: center;
}

.temp {
	text-align: center;
}

table,
th,
td {
	border: 5px solid black;
	border-collapse: collapse;
}
